<!DOCTYPE html>
<html>
  <head>
    <title>MarketPlaceApi</title>
    
    

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= yield %>
  </body>
</html>
